[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "*"
fastapi = "*"
uvicorn = "*"
docker = "*"
aiohttp = "*"
sqlalchemy = "*"
asyncpg = "*"

[requires]
python_version = "3.9"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
requests = "*"
faker = "*"
docker = "*"
